.container[data-theme="dark"] {
  background-image: linear-gradient(
    to right bottom,
    #033800,
    #002e21,
    #00222c,
    #001424,
    #000010
  );
}
.h1[data-theme="dark"] {
  background-color: rgba(0, 10, 1, 0.492);
  color: rgb(237, 242, 178);
  border: 1px solid gold;
}
.h2[data-theme="dark"] {
  color: rgb(183, 242, 179);
}
.p[data-theme="dark"] {
  color: rgb(226, 248, 225);
}
.container {
  background-image: linear-gradient(
    to right top,
    #ccf4ca,
    #c3faef,
    #d6fbff,
    #f1fbff,
    #ffffff
  );
  padding: 1rem;
}
.headingDiv {
  padding: 1rem;
}
.h1 {
  background-color: rgba(241, 243, 224, 0.84);
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 4px 2px black;
  transition: transform 0.3s;
}
.h1:hover {
  transform: scale(1.05);
}
.main {
  margin-top: 2rem;
  padding: 1rem;
}
.college {
  padding-bottom: 2rem;
}
.senior {
  padding-bottom: 2rem;
}
.junior {
  padding-bottom: 2rem;
}
.h2 {
  font-size: 2rem;
  display: flex;
}
.p {
  font-size: 1.2rem;
  margin-bottom: 0rem;
  display: flex;
}
.year {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 1rem;
}
@media (max-width: 600px) {
  .h1 {
    width: 80%;
  }
  .container {
    padding: 0;
  }
  .p {
    margin-bottom: 0rem;
  }
}
