.container{
width: 100%;
background-color: rgb(227, 240, 224);
}

.main{
    margin: auto;
    width: 60%;
    padding-top:1rem ;
    padding-bottom: 1rem;
}
.heading{
    text-align: center;
}
.para{
    text-align: center;
    font-size: 1.1rem;
}
.icons{
    display: flex;
    justify-content: center;
gap: 1.1rem;
}
.icon{
    transition: transform 0.2s;
}
.icon:hover{
transform: scale(1.2);
}
@media (max-width: 700px){
    .main{
        width: 90%;
    }
}
