.container[data-theme="dark"] {
  background-image: linear-gradient(
    to bottom,
    #000020,
    #001229,
    #001d25,
    #002218,
    #072600
  );
}
.container:hover[data-theme="dark"] {
  box-shadow: 4px 2px 10px rgb(225, 255, 180);
}
.heading[data-theme="dark"] {
  color: rgb(232, 255, 228);
}
.para[data-theme="dark"] {
  color: rgb(243, 247, 207);
}
.linkHeading[data-theme="dark"] {
  color: #fefdc9;
}
.listItem[data-theme="dark"] {
  color: rgb(254, 255, 237) !important;
}
.container {
  width: 100%;
  background: linear-gradient(
    to right top,
    #ffffff,
    #f7feff,
    #e8ffff,
    #dffff9,
    #e8ffe2
  );
  display: flex;
}
.container:hover {
  box-shadow: 4px 3px 10px rgb(8, 14, 0);
}
.left {
  margin: 0;
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.heading {
  text-align: center;
}
.about {
  margin: 0;
}
.para {
  text-align: center;
  font-size: 1.1rem;
}
.right {
  margin: auto;
  margin-right: 1rem;
  margin-top: 0;
}
.linkHeading {
  color: #002a0e;
}
.listItems {
  padding-bottom: 0px !important;
  justify-content: center !important;
}
.listItem {
  text-decoration: none !important;
  color: rgb(0, 53, 6) !important;
}
.listItem:hover {
  font-weight: bold;
  text-decoration: underline !important;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 1.1rem;
}
.icon {
  transition: transform 0.2s;
}
.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .container {
    flex-wrap: wrap;
  }
  .heading {
    font-weight: 600;
  }
  .left {
    width: 100%;
  }
  .right {
    margin: auto;
    justify-content: center;
  }
}
