.main[data-theme="dark"] {
  background-image: linear-gradient(
    to top,
    #000020,
    #001229,
    #001d25,
    #002218,
    #072600
  );
}
.imagediv[data-theme="dark"] {
  border: 2px solid rgb(222, 245, 224);
}
.imagediv img[data-theme="dark"] {
  box-shadow: 1px 1px 5px 4px rgb(250, 250, 250);
}
.imagediv img:hover[data-theme="dark"] {
  box-shadow: 1px 1px 7px 3px rgb(255, 255, 255);
}
.name1[data-theme="dark"] {
  color: rgb(220, 245, 220);
}
.name2[data-theme="dark"] {
  color: rgb(80, 222, 80);
}
.name2:hover[data-theme="dark"] {
  box-shadow: 1px 1px 3px 2px rgb(167, 222, 180);
}
.about[data-theme="dark"] {
  color: rgb(206, 232, 203);
}
.download[data-theme="dark"] {
  background-color: rgb(38, 176, 14);
  color: black;
  font-weight: bold;
}
.download2[data-theme="dark"] {
  background-color: rgb(38, 176, 14);
  color: black;
  font-weight: bold;
}
.download:hover[data-theme="dark"] {
  background-color: rgb(33, 147, 12);
}
.download2:hover[data-theme="dark"] {
  background-color: rgb(33, 147, 12);
}
.main {
  background-image: linear-gradient(
    to right top,
    #ccf4ca,
    #c3faef,
    #d6fbff,
    #f1fbff,
    #ffffff
  );
  height: 100vh;
  display: flex;
}
.left {
  width: 45%;
  margin: auto;
  margin-left: 4rem;
  margin-top: 4rem;
}
.right {
  width: 30%;
  margin: auto;
  margin-top: 2rem;
}
.imagediv {
  width: 22rem;
  height: 22rem;
  margin: auto;
  object-fit: cover;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5rem;
}
.imagediv img {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px 2px rgb(0, 53, 5);
  border-radius: 5rem;
  transition: transform 0.3s;
}
.imagediv img:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 6px 3px rgb(0, 36, 4);
  cursor: grab;
}

.name1 {
  font-size: 2.5rem;
}
.name2 {
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 0.5rem;
  width: fit-content;
  transition: box-shadow 0.3s;
  color: rgba(0, 44, 2, 0.912);
  transition: padding 0.2s;
}
.about {
  font-size: 1.3rem;
  color: rgb(18, 0, 41);
}
.name2:hover {
  box-shadow: 1px 1px 3px 2px rgb(0, 22, 5);
  cursor: grab;
  padding: 0rem 1rem;
}
.download {
  transition: transform 0.2s !important;
}
.download2 {
  transition: transform 0.2s !important;
  display: none !important;
}
.download:hover {
  transform: scale(1.1);
}
.download2:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .name1 {
    font-size: 10vw;
  }
  .name2 {
    font-size: 11vw;
  }
  .main {
    flex-direction: column;
    background-position: center;
    background-size: cover;
    height: auto;
  }
  .left {
    margin: auto;
    margin-top: 2rem;
    padding-left: 1rem;
    width: 100%;
  }
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagediv {
    width: 90vw;
    margin: auto;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .about {
    font-size: 6.3vw;
  }
  .imagediv img:hover {
    transform: scale(1);
  }
  .download {
    display: none !important;
  }
  .download2 {
    display: inline-block !important;
    margin: auto !important;
    margin-bottom: 1rem !important;
    display: flex !important;
    width: fit-content;
  }
}
