.navbar[data-theme="dark"]{
 background-color:rgb(2, 0, 19);
}
.modeBtn[data-theme="dark"]{
  background-color:rgb(2, 0, 19);
}
.modeName[data-theme="dark"]{
  color: rgb(196, 227, 145);
}
#navTogglerIcon[data-theme="dark"]{
  background: white;
}  

.container-fluid {
    padding: 0;
  }
  
  .navbar {
    padding: 0;
    background: #f5fff3;
    margin: 0;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  .nav-item {
    font-size: 1.4rem;
    position: relative;
    transition: transform 0.2s ease-in-out;
    padding-bottom: 0.2rem;
  }
  
  .nav-item:hover {
    transform: scale(1.1);
  }
  
  .nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #045f04;
    left: 0;
    transition: width 0.2s ease-in-out;
    
  }
  .modeBtn{
    margin: auto;
    margin-right: 2rem;
    padding: 0.1rem 0.5rem;
    transition: transform 0.2s;
  }
  .modeBtn:hover{
transform: scale(1.1);
  }
  .nav-item:hover::after,
  .nav-item.active::after {
    width: 100%;
  }
  .img{
    width: 100%;
  }
  .imageLogo {
    width: 7vw;
    margin-left: 2rem;
    margin-right: 1rem;
  }
  
  @media (max-width: 700px) {
    .navbar-nav {
      width: 30%;
      margin-left: 1rem;
    }
    .navbar {
      margin-bottom: 0;
    }
    .imageLogo {
      width: 27vw;
      margin-left: 2rem;
      margin-right: 1rem;
    }
    .modeBtn{
      margin: auto;
      margin-right: 0;
      border-radius: 2rem;
      padding: 0.1rem 0.4rem;
      width: fit-content;
      margin-left: 0.8rem;
      margin-bottom: 0.7rem;
    }
    #navTogglerIcon{
      margin-right: 1rem;
    }  
    .nav-item:hover::after,
    .nav-item.active::after {
      width: 0 !important;
    }
.modeBtn{
  margin-top: 0.5rem;
}
.nav-item{
  padding-left: 0.3rem;
}
  }
  