body, html {
    margin: 0;
    padding: 0;
}
.container-fluid{
padding: 0;
}
.navbar{
    padding: 0;
    background: #ecffe9;
    margin: 0;
}
ul{
    display: flex;
    justify-content: space-around; 
    width: 50%; 
}
li {
    font-size: 1.5rem;
    position: relative; 
    transition: transform 0.2s ease-in-out;
}
li:hover {
    transform: scale(1.1); 
}
li::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 3px;
    background-color: green; 
    left: 0;
    transition: width 0.3s ease-in-out;
}

li:hover::after, li.active::after {
    width: 100%; 
}
img{
    width: 100%;
}
.image{
    width: 16vw;
    margin-right: 2rem;
 
}
@media (max-width:700px){
  ul{
    width: 30%;
    margin-left: 1rem;
  }
  .navbar{
    margin-bottom: 1rem;
  }
  img{
    width: 100%;
}
.image{
    width: 70%;
}
}

