.main[data-theme="dark"] {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #090004,
    #0d000d,
    #0b0016,
    #01021d
  );
}
.main {
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #fafeff,
    #effeff,
    #e4ffff,
    #e1fff2
  );
}
.techitem[data-theme="dark"] {
  color: #ffffff;
}
.techlist {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.techitem {
  padding: 1rem;
  list-style-type: none;
  margin: auto;
  background: hsla(0, 0%, 100%, 0);
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  margin-top: 1rem;
  transition: transform 1.5s ease-in-out;
}
.techitem:hover {
  transform: scale(1.4) rotate(1turn);

  cursor: pointer;
  transition: transform 0.1s ease-in-out, transform 2s ease-out;
}
@media (max-width: 600px) {
  .techlist {
    flex-wrap: wrap;
  }
}
